<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">

    <title>Authors</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>New Authors</h1>
                <form action="/authors/create" method="post">
                    <div class="form-group mb-3">
                        <label for="">Name</label>
                        <input type="text" class="form-control" name="name">
                    </div>
                    <input type="submit" value="Create" class="btn btn-success">
                </form>
            </div>
            <div class="col-6">
                <h1>All Authors</h1>
                {% for author in authors %}
                <li class="h4">{author.name}</li>
                {% endfor %}
            </div>
        </div>
        <a href="/books" class="btn btn-info btn-lg">Add Book</a>
    </div>

</body>

</html>